@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-primary: #09090b;
  --color-text-primary: #e4e4e7;
}

html {
  background-color: var(--color-background-primary);
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}
